.pad-1{
    padding: auto;
    width: 1500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom:20px ;
    margin-left:10px;
    margin-right: 10px;

    
}
.pad-2{
    padding: auto;
    width: 1500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding-bottom:20px ;
    padding-top: 20px;
    margin-left:10px;
    margin-right: 10px;

}
.pad-3{
    padding: auto;
    width: 1500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding-bottom:20px ;
    padding-top: 20px;
    margin-left:10px;
    margin-right: 10px;
}
a:hover{
    color: gray;
    font-size: 20px;
    font-family: monospace;
}
a{
    color:white;
    font-size: 20px;
    font-family: cursive;
}
h1,h2{
    font-size: 35px;
    color:#003147;
}
p,ol{
    font-size: 20px;
    color: white;

}
ul{
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
ul.dropdown > li {
    display: inline-block;
    position: relative;
}
ul.dropdown li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    display: block;
} 

ul.dropdown li:hover > a {
    background-color: blue;
    color: white;
}


ul.dropdown ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: lightgray;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

ul.dropdown li:hover ul {
    display: block;
}

ul.dropdown ul li {
    display: block;
}

ul.dropdown ul li a { 
    background-color: lightgray;
    color: black;
}
ul.dropdown ul li a:hover {
    background-color: darkgray;
    color: white;
}
.head{
    background-color:#fb8500;
}
.main-title{
    background-color: #fb8500;
    display: inline-block;
    animation: none !important;
    background-color: #fb8500 !important;
}
.foot{
    background-color:#ed6a5e ;
}

.tran:hover{
    color: gray;
    font-size: 25px;
    font-family: monospace;
    transition-duration: 2s;
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.tran{
    color:white;
    font-size: 20px;
    font-family: cursive;
}
h3{
    font-size: 20px;
}

ol,ul{
    list-style-type: none;
}
iframe,img,.image-group{
    border-radius: 10px;
}
.image-group{
    padding: 10px;
    height: 200px;
    width: 250px;


}
.image-group:hover{
    height: 250px;
    width: 300px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: linear;

}

